:root { 
    --gray_900_05:#09093705; 
    --black_900_99:#00000099; 
    --black_900:#000000; 
    --gray_900_66:#09093766; 
    --gray_900_99:#09093799; 
    --gray_900:#090937; 
    --deep_purple:#6251dd; 
    --deep_orange:#ef6b4a; 
    --white:#ffffff; 
    --gray_50:#f4f4ff; 
    --gray_900_19:#09093719; 
    }